main {
    background-color: red;
    width: 600px;
    height: 300px;
    border-radius: 15px;
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 10px gray;
    padding: 20px 30px;
}